body {
    background: crimson;
}

h1 {
    text-align: center;
}

div { 
    margin: 50px auto;
}

.container {
    display: grid;
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 175px 175px 175px;
    background-color: white;
    border: 5px solid beige;
    text-align: center;
    width: 520px;
  }

.square {
    border: black 1px solid;
}

.reset {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 0 580px;
}